@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-primary mb-5"
   href=""
   data-ajax="true"
   data-ajax-update="#UpdateContentDiv"
   data-ajax-mode="replace"
   data-ajax-method="GET"
   data-ajax-loading="divLoading"
   data-ajax-begin="onAjaxBegin"
   data-ajax-complete="onAjaxComplete"
   data-ajax-url="/Home/AllTeachers">
    All Teachers
</a>

<a class="btn btn-success mb-5"
   href=""
   data-ajax="true"
   data-ajax-update="#UpdateContentDiv"
   data-ajax-mode="replace"
   data-ajax-method="GET"
   data-ajax-loading="divLoading"
   data-ajax-begin="onAjaxBegin"
   data-ajax-complete="onAjaxComplete"
   data-ajax-url="/Home/AllSchools">
    All Schools
</a>

<div id="divLoading" class="HideLoader">
    @*divhide will be set as default and will be changed dynamically.*@
    <img src="~/images/loading.gif" alt="Loading Image" height="150" title="Loading Image" />
</div>

<div id="UpdateContentDiv">
    @*Div to update content after Ajax Call*@
</div>

@*JS to Show and Hide Loading GIF Image*@
<script>

    function onAjaxBegin() {
        $("#divLoading").removeClass("HideLoader").addClass("ShowLoader");
    }

    function onAjaxComplete() {
        $("#divLoading").removeClass("ShowLoader").addClass("HideLoader");
    }
</script>

@section scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

}       